body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 40px 10px;
}

.logo {
    width: 12rem;
}

.header {
    /*color: #ca9100;*/
    background: -webkit-linear-gradient(#597fbc, #597fbc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
}


.subHeader{
    color: #110f0f;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-size: 1.1rem;
}

.paraHeader{
    color: #597fbc;
}

.join-button {
    
    background-color: #597fbc;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 12px 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    body {
        justify-content: center;
    }

    .logo {
        width: 14rem;
    }

    .header {
        font-size: 3rem;
        text-align: center;
    }

    .subheader {
        font-size: 1.3rem;
    }

    .join-button {
        width: 16rem;
    }
}